@import "tailwindcss";

@theme {
  /* container */
  --content-width: clamp(200px, 90%, 1440px);

  --color-red-500: #ff0000;
  --color-red-700: #c4161c;
  --color-red-900: #820000;

  --color-grey-100: #dddfe1;
  --color-grey-300: #bcbec0;
  --color-grey-500: #94958d;
  --color-grey-700: #636359;

  --color-biscuit-500: #eceadb;

  --font-ubuntu: "Ubuntu", sans-serif;
  /* --font-ubuntu-light: font-weight: 300;
  --font-ubuntu-regular: font-weight: 400;
  --font-ubuntu-medium:  font-weight: 500;
  --font-ubuntu-bold: font-weight: 700; */
}

@layer base {
  main {
    @apply w-(--content-width) mx-auto;
  }

  h1 {
    @apply text-4xl lg:text-5xl tracking-wide font-ubuntu ;
  }

  h2 {
    @apply text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl lg:text-2xl;
  }

  img {
    @apply rounded-xl w-full h-full object-cover block;
  }

  .intro {
    @apply text-lg;
  }

  .link {
    @apply block text-red-700 font-bold text-lg hover:underline hover:underline-offset-4 decoration-red-700 cursor-pointer active:opacity-70 focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2 after:content-['→'] after:ml-2 after:inline-block after:align-middle after:text-xl after:leading-none after:transition-transform after:duration-200 hover:after:translate-x-1;
  }

  p {
    @apply max-w-[60ch] text-pretty pt-4;
  }
}
